html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Responsive Images */

embed,
iframe,
img,
object,
video {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

/* Removes all decimals and discs from lists */

ol,
ul {
  list-style: none;
}

/*
 * Completely resets form items
 * ----------------------------
 * Super hard reset that removes all borders
 * and radiuses of all form items (including
 * checkboxes and radios)
 */

 input,
 textarea,
 button {
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}

:root {
  font-weight: 200;
  /*font-family: sans-serif;*/
  font-family: Roboto, sans-serif;
}

html, head,
body, #root {
  width: 100%;
  height: 100%;
}

#root {
  border: 1px solid #013853;
  border-radius: 4px;
}

.calculator {
  height: calc(100% - 20px);
  width: 100%;
  overflow: hidden;
}

.calculator__display {
  -webkit-app-region: drag;
  -webkit-user-select: none;

  height: 60px;
  padding: 0 15px 5px 15px;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.display-value {
  overflow: hidden;
  color: #FFFFFF;
  letter-spacing: 1px;

  display: flex;
  justify-content: flex-end;
}

.calculator__keys {
  display: flex;
  text-align: center;
  flex-wrap: wrap;

  font-size: 22px;

  -webkit-app-region: no-drag;
}

.calculator__keys button {
  width: 58px;
  height: 48px;


  border-style: solid;
  border-color: #8e8e8e;
  border-width: 0 1px 1px 0;

  background-color: #e0e0e0;
}


.calculator__keys button:active {
  background-color: #B2B2B2;
}
.calculator__keys button.key--operator:active {
  background-color: #C47325;
}

.calculator__keys .key--operator.is-active {
  border-width: 1px 0px 2px 1px;
}

.calculator__keys .key--operator:active {
  background-color: red;
}

/*
.calculator__keys .key--operator.is-active:nth-child(4) {
  border-width: 0 0px 2px 1px;
}
*/
.calculator__keys .key--zero {
  width: 116px;
}

.calculator__keys .key--operator {
  font-size: 26px;
  color: white;
  background-color: #f79331;
  border-right-width: 0;
}

.window-header {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  height: 20px;
}

.window-header  .window-header-controls {
  position: absolute;
  left: 8px;
  top: 5px;
  display: flex;
}

.window-header .window-header-controls .btn {
  cursor: pointer;
  margin-right: 8px;
  width: 12px;
  height: 12px;
}

.window-header .window-header-controls .btn svg {
  display: block;
}

.updater {
  position: relative;
}

.updater .message {
  color: red;
}

.updater .icon-wrapper {
  position: absolute;
  top: 13px;
  left: 15px;
  width: 20px;
  height: 20px;
  border: 1px solid red;
  background-color: red;
}

.updater .progress-box {
  display: flex;
  position: absolute;
  top: 77px;
  right: 1px;
  left: 1px;
}

.updater .progress-process{
  background-color: #f0f5fa;
  width: 100%;
}

.updater .progress-process .progress-percents {
  height: 3px;
  background-color: #56b500;
}
