html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Responsive Images */

embed,
iframe,
img,
object,
video {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

/* Removes all decimals and discs from lists */

ol,
ul {
  list-style: none;
}

/*
 * Completely resets form items
 * ----------------------------
 * Super hard reset that removes all borders
 * and radiuses of all form items (including
 * checkboxes and radios)
 */

 input,
 textarea,
 button {
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}

:root {
  font-family: Roboto, sans-serif;
  font-weight: 600;
}

html, head,
body, #root {
  width: 100%;
  height: 100%;
}

#root {
  border: 1px solid #013853;
  border-radius: 4px;
}

.calculator {
  height: calc(100% - 20px);
  width: 100%;
  overflow: hidden;
}

.calculator__display {
  -webkit-app-region: drag;
  -webkit-user-select: none;

  height: 60px;
  padding: 0 15px 5px 15px;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: 200;
}

.display-value {
  overflow: hidden;
  color: #FFFFFF;
  letter-spacing: 1px;

  display: flex;
  justify-content: flex-end;
}
